$white: white;
$green: #019C00;

@mixin flex(){
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

html, body{
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   line-height: 1.7em;
   text-align: justify;
}

ul{
    li{
        text-decoration: none;
        list-style: none;
    }
}

a{
    text-decoration: none;
    color: black;
    transition: 500ms ease-in-out;
}

a:hover{
    color: $green;
    text-decoration: none;
    font-weight: bold;

}

.btn{
    font-weight: bold;
}

.btn-primary:hover{
    background-color: $green;
    border: 1px solid $green;
}

.hero{
    height: 70vh;
    min-height: 450px;
    margin: 0 auto;
    display: block;
    background-image: url('http://127.0.0.1/solidairecloud/public/img/sander-weeteling-KABfjuSOx74-unsplash(1).jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 5px;
    background-image:
    linear-gradient(to bottom, rgba(103, 199, 119, 0.52), rgba(64, 95, 141, 0.73)),
    url('http://127.0.0.1/solidairecloud/public/img/sander-weeteling-KABfjuSOx74-unsplash(1).jpg');

    width: 100%;
    padding-top: 90px;


    &__content{
        width: 80%;
        margin: auto;
        height: 100%;
        padding-top: 60px;
        text-align: center;

        h1{
            font-size: 3em;
            font-style: italic;
            color: $white;
        }

        p{
            margin: 20px auto;
            font-style: 1.1em;
            font-weight: 800;
        }


    }
}


.subtitle{
    color: $green;
}


.boxes{
    .box{
        height: 650px;
        position: relative;
        width: 90%;
        margin: 15px;
        border: 5px $green solid;
        position: relative;
        padding: 8px;
        border-radius: 5px;

        h2{
            text-align: center;
            color: $green;
        }

        h3{
            font-size: 1.4em;
            font-weight: bold;
        }

        .round{
            width: 120px;
            height: 120px;
            border-radius: 70px;
            border: 8px solid $green;
            margin: auto;
            text-align: center;
        }

        ul{
            li{
                color: black;
                i{
                    color: $green;
                }
            }
        }

        .btn{

        }


    }


}

.section{
   .container{
    .check{
        background-color: black;
        height: 180px;
        border: 5px white solid;
        padding-top: 45px;
        color: white;
        text-align: center;

        .text{
            font-weight: bold;
        }

        form{
            margin: 10px auto 15px auto;
            width: 80%;
        }
    }

    .about{
        margin: 20px auto;

        &__content{
            @include flex();

            &__image{
                text-align: center;
                img{
                    width: 550px;
                    height: auto;
                    border-radius: 5px;
                    margin: auto;
                }
            }

            &__text{
                padding-top: 30px;
            }
        }
    }


   }


}

.footer{
    text-align: center;
    width: 80%;
    margin:30px  auto;
    ul{
        margin: auto;
        li{
            display: inline;
            margin: 15px;
        }
    }
   }

/*responsive for 350px*/
@media screen and (min-width: 350px) and (max-width: 766px){
      html, body{
        .hero{
            height: 50vh;
            padding-top: 60px;
            min-height: auto;

            &__content{
                p{
                    margin: 40px auto;
                }

                .btn{
                    margin: 20px auto;
                }
            }
           }
        .boxes{
            .box{
                height: auto;
            }
        }

      .section{
        .container{
            .check{
                height: auto;
            }

            .about{
                &__content{

                    &__image{
                        img{
                            width: 320px;
                            margin: auto;
                            vertical-align: auto;
                        }
                    }
                }
            }


        }
      }
      }

}


